<mat-drawer-container class="example-container" style="background-color: #4e3f69;">
  
    <mat-toolbar color="primary" >
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
          
        </button>
        <span >Sistema de Alumnos  </span>
        <span class="example-spacer"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" ></mat-icon>
      
      </mat-toolbar>
      <br>
      <br>
      <br>
      <app-user-component style="padding: 20px;"></app-user-component>
      <br>
      <br>
      <br>
      
     
      
    <mat-drawer #drawer class="example-sidenav" mode="push" style="background-color: #4e3f69;">
      <H1 style="color: white"><mat-icon> list_alt</mat-icon> Opciones</H1>               
          <br>
          <br>
          <button *ngFor="let option of $options | async" mat-flat-button id="primary" type="flat" color="primary" (click)="showFiller = !showFiller" mat-raised-button>
            <mat-icon>library_books</mat-icon> {{option}}  
                      
          </button>
          <br>
          <br>
      </mat-drawer>     
  
  </mat-drawer-container>
